.input-costum{
    height: 55px !important;
    border-radius: 13px !important;
}

.checkbox-costum{
    background-color: #5F2EEA !important;
    width: 20px !important;
    height: 20px  !important;
}

.btn-costum-color{
    background-color: #5F2EEA;
    color: white;
}

.btn-costum{
    border-radius: 13px !important;

}

.btn-costum:hover{
    border: 3px solid #5F2EEA !important;

}
.btn-sign-with{
    width: 170px;
    height: 50px;
}

@media only screen and (max-width: 700px){
    .btn-sign-with{
        width: 50px;
        height: 50px;
    }
}